body {
    /* background: #e8e8e9; */
    /* background: #075985; */
    background: url("../icons/bg.svg");
    background-repeat: no-repeat;
    background-size: cover;
}

body.error {
    background: url("../icons/bg_error.svg")!important;
    background-repeat: no-repeat!important;
    background-size: cover!important;
}

/* Path: public/ngstripe/css/ngstripe_style.css */
.payment {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 80vh;
    padding-top: 50px;
}

.payment .box {
    background: #fff;
    border-radius: 0.3rem;
    padding: 20px;
    min-width: 450px;
    text-align: center;
    border: thin solid #dedede;
    /* box-shadow: 0 0 5px rgba(0, 0, 0, 0.2); */
    box-shadow: 0 25px 50px -12px rgb(0 0 0 / 0.25);
}

.payment .img-icon {
    margin-bottom: 28px;
}

.payment .img-icon img {
    height: 120px;
}

.payment .box svg {
    height: 48px;
    color: #10b981;
}

.payment.pay-failed .box svg {
    color: #e11d48;
}

.payment-data {
    margin-top: 40px;
    margin-bottom: 40px;
    display: flex;
    gap: 5px;
    justify-content: space-between;
    flex-direction: column;
}

.payment-data .pd-item {
    flex: 0 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.color-green {
    color: #10b981;
}

.payment .action-btn {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
}

.payment .action-btn a {
    background: #4f46e5;
    color: #e2e8f0;
    padding: 10px 25px;
    border-radius: 4px;
    text-decoration: none;
}

.payment .action-btn a:hover {
    background: #4338ca;
}

.payment.pay-failed .action-btn a {
    background: #db2777;
    color: #fff;
}

.payment.pay-failed .action-btn a:hover {
    background: #9d174d;
}

.color-red {
    color: #e11d48;
}

.color-purple {
    color: #4f46e5;
}
